$background-dark: #011C44;
$secondary-dark: #01285D;
$background-light: #FFFFFF;

$secondary-color: #0039FF;

$button-orange: #D6302A;
$button-blue: #0039FF; 
$font-button-color: #FFFFFF;

$background-gradient-left: linear-gradient(150deg, #0039FF 0%, rgba(0, 57, 255, 0.46) 28%, rgba(1, 28, 68, 0.5) 70%, #011C44 100%);

$background-gradient-right: linear-gradient(255deg, #0039FF 0%, rgba(0, 57, 255, 0.46) 27%, rgba(1, 28, 68, 0.5) 74%, #011C44 100%);

$background-gradient-light-L: linear-gradient(305deg, #FFFFFF 0%, rgba(255, 255, 255, 0.86) 41%, rgba(255, 255, 255, 0.7) 61%, #1C57B3 100%);

$background-gradient-light-R: linear-gradient(85deg, #FFFFFF 0%, rgba(255, 255, 255, 0.86) 51%, rgba(255, 255, 255, 0.7) 69%, #1C57B3 100%);