.dark {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    .logo-dark-nav {
      width: 239px;
      height: 42px;
    }
    .searchBarLine {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 338px;
      height: 36px;
      background-color: white;
      clip-path: polygon(0 20%, 5% 0, 100% 0%, 100% 80%, 95% 100%, 0 100%);
      padding: 0, 15px, 0 15px;
      opacity: 0.5;
      .searchBar {
        width: 336px;
        height: 33px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        border: none;
        background-color: #011c44;
        clip-path: polygon(0 20%, 5% 0, 100% 0%, 100% 80%, 95% 100%, 0 100%);
        padding: 0, 15px, 0 15px;
        .input {
          width: 60%;
          font-size: 1rem;
          font-family: $font-Montserrat;
          font-weight: 600;
          color: #ffffff;
          background: transparent;
          border: none;
          outline: none;
          text-transform: uppercase;
          &:focus {
            outline: none;
            border: none;
          }
          &:active {
            outline: none;
            border: none;
          }
        }
        .lupa {
          width: 18px;
          height: 18px;
          color: #ffffff;
          opacity: 0.5;
          background: transparent;
          border: none;
          outline: none;
        }
      }
    }
    .lista {
      width: 250px;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;

      .item {
        a {
          font-family: $font-Montserrat;
          text-decoration: none;
          color: #ffffff;
          font-weight: 600;
          opacity: 0.5;
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
    }

    .buttonRegister {
      width: 189px;
      height: 33px;
      border: none;
      font-family: $font-Montserrat;
      background-color: #d6302a;
      clip-path: polygon(0 35%, 10% 0, 100% 0%, 100% 75%, 90% 100%, 0 100%);
      font-size: 1rem;
      color: #ffffff;
      font-weight: 600;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    .switchMode {
      font-size: 17px;
      position: relative;
      display: inline-block;
      width: 3.5em;
      height: 2em;

      /* Hide default HTML checkbox */
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      /* The slider */
      .sliderMode {
        --background: #013277;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--background);
        transition: 0.5s;
        border-radius: 30px;

        &:before {
          position: absolute;
          content: "";
          height: 1.4em;
          width: 1.4em;
          border-radius: 50%;
          left: 10%;
          bottom: 15%;
          box-shadow: inset 8px -4px 0px 0px #0039ff;
          background: var(--background);
          transition: 0.5s;
        }
      }

      input:checked + .sliderMode {
        background-color: #ffffff;
        border: 1px solid var(--background);
      }

      input:checked + .sliderMode:before {
        transform: translateX(100%);
        box-shadow: inset 15px -4px 0px 15px #0039ff;
      }
    }
  }
}

.light {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    .logo-dark-nav {
      width: 239px;
      height: 42px;
    }
    .searchBarLine {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 338px;
      height: 36px;
      background-color: $background-dark;
      clip-path: polygon(0 20%, 5% 0, 100% 0%, 100% 80%, 95% 100%, 0 100%);
      padding: 0, 15px, 0 15px;
      opacity: 0.5;
      .searchBar {
        width: 336px;
        height: 33px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        border: none;
        background-color: #ffffff;
        clip-path: polygon(0 20%, 5% 0, 100% 0%, 100% 80%, 95% 100%, 0 100%);
        padding: 0, 15px, 0 15px;
        .input {
          width: 60%;
          font-size: 1rem;
          font-family: $font-Montserrat;
          font-weight: 600;
          color: $background-dark;
          background: transparent;
          border: none;
          outline: none;
          text-transform: uppercase;
          &:focus {
            outline: none;
            border: none;
          }
          &:active {
            outline: none;
            border: none;
          }
        }
        .lupa {
          width: 18px;
          height: 18px;
          color: $background-dark;
          opacity: 0.5;
          background: transparent;
          border: none;
          outline: none;
        }
      }
    }
    .lista {
      width: 250px;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;

      .item {
        a {
          font-family: $font-Montserrat;
          text-decoration: none;
          color: $background-dark;
          font-weight: 600;
          opacity: 0.5;
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
    }

    .buttonRegister {
      width: 189px;
      height: 33px;
      border: none;
      font-family: $font-Montserrat;
      background-color: #d6302a;
      clip-path: polygon(0 35%, 10% 0, 100% 0%, 100% 75%, 90% 100%, 0 100%);
      font-size: 1rem;
      color: #ffffff;
      font-weight: 600;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    .switchMode {
      font-size: 17px;
      position: relative;
      display: inline-block;
      width: 3.5em;
      height: 2em;

      /* Hide default HTML checkbox */
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      /* The slider */
      .sliderMode {
        --background: #013277;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--background);
        transition: 0.5s;
        border-radius: 30px;

        &:before {
          position: absolute;
          content: "";
          height: 1.4em;
          width: 1.4em;
          border-radius: 50%;
          left: 10%;
          bottom: 15%;
          box-shadow: inset 8px -4px 0px 0px #0039ff;
          background: var(--background);
          transition: 0.5s;
        }
      }

      input:checked + .sliderMode {
        background-color: #ffffff;
        border: 1px solid var(--background);
      }

      input:checked + .sliderMode:before {
        transform: translateX(100%);
        box-shadow: inset 15px -4px 0px 15px #0039ff;
      }
    }
  }
}
