.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
    padding-top: 30px; 
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px; 

    .logo-dark-nav {
        width: 239px;
        height: 42px;
    }
    .searchBarLine{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 338px;
        height: 36px;
        background-color: white;
        clip-path: polygon(0 20%, 5% 0, 100% 0%, 100% 80%, 95% 100%, 0 100%);
        padding: 0, 15px, 0 15px;
        .searchBar{
            width: 336px;
            height: 33px;
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: space-around;
            border: none;
            background-color: #011c44;
            clip-path: polygon(0 20%, 5% 0, 100% 0%, 100% 80%, 95% 100%, 0 100%);
            padding: 0, 15px, 0 15px;
            .input{
                width: 60%;
                font-size: 1rem;
                color: #FFFFFF;
                background: transparent;
                border: none;
                outline: none;
                text-transform: uppercase;
                &:focus {
                    outline: none;
                    border: none;
                }
                &:active {
                    outline: none;
                    border: none;
                }
            }
            .lupa{
                width: 18px;
                height: 18px;
                color: #FFFFFF;
                background: transparent;
                border: none;
                outline: none;
            }
        }
    }
    .lista{
        width: 250px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        .item {
            a {
                text-decoration: none;
                color: #FFFFFF;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1rem;
            }

        }
    }

    .buttonRegister {
        width: 189px;
        height: 33px;
        border: none;
        background-color: #D6302A;
        clip-path: polygon(0 35%, 10% 0, 100% 0%, 100% 75%, 90% 100%, 0 100%);
        font-size: 1rem;
        color: #FFFFFF;
        font-weight: 600;
    }

    .switchMode {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
      
      
      /* Hide default HTML checkbox */
       input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .sliderMode {
        --background: #013277;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--background);
        transition: .5s;
        border-radius: 30px;
       
             &:before {
            position: absolute;
            content: "";
            height: 1.4em;
            width: 1.4em;
            border-radius: 50%;
            left: 10%;
            bottom: 15%;
            box-shadow: inset 8px -4px 0px 0px #0039FF;
            background: var(--background);
            transition: .5s;
        }
      }
        
      input:checked + .sliderMode {
        background-color: #FFFFFF;
        border: 1px solid var(--background);
      }
      
      input:checked + .sliderMode:before {
        transform: translateX(100%);
        box-shadow: inset 15px -4px 0px 15px #0039FF;
      }
    }
}